.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum viewport height */
  background-color: transparent; /* Light gray background */
  /* padding-bottom: 50px;
  padding-top: 40px; */

   
  }


.form-wrapper {
  background-color: #f0f0f0; /* White background for the form */
  border-radius: 5px; /* Add rounded corners */
  padding: 30px; /* Add padding inside the form */
  max-width: 60%; /* Set maximum width for the form to cover 60% of the page */
}