<div class="container">
  <div class="form-wrapper">
    <h1>Log Your {{type}} Meal</h1>
    <hr class="mt-0 mb-6 text-center">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="image">Log From Image:</label>
      </div>
      
      <div class="form-group mb-3 d-flex align-items-center">
        <input type="file" class="form-control w-80" id="image" (change)="onFileSelected($event)">
        <button type="submit" class="btn btn-primary ml-3 upload">Upload</button>
      </div>
    </form>
    
    <!-- <hr class="mt-0 mb-4 text-center"> -->
    <h2>Or enter data manually</h2>
    <!-- <hr class="mt-0 mb-4 text-center"> -->
    <form (ngSubmit)="onMealSubmit()">
      <div class="form-group mb-3">
        <label for="item_name">Item Name:</label>
        <input type="text" class="form-control" id="item_name" [(ngModel)]="txt.name" name="item_name">
      </div>
      <div class="form-row mb-3">
        <div class="form-group mb-3 row">
          <div class="col">
            <label for="qty">Quantity:</label>
            <input type="number" class="form-control" id="qty" [(ngModel)]="txt.qty" name="qty">
          </div>
          <div class="col">
            <label for="unit">Unit:</label>
            <select class="form-control" id="unit" [(ngModel)]="txt.unit" name="unit">
              <option value="grams">grams</option>
              <option value="litres">litres</option>
              <option value="">not necessary</option>
              <!-- Add more options as needed -->
            </select>
          </div>
        </div>
      </div>
      <div class="text-center mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    
  </div>
</div>

<!-- Modal -->
<!-- Modal -->

<div class="spinner-overlay" *ngIf="loading">
  <div class="spinner-container">
    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status" *ngIf="loading">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner"></div>
  </div>
</div>



