<div class="container">
    <div class="form-wrapper">
      <h2>Login Yourself</h2>
      <hr class="mt-0 mb-4 text-center">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="emailId">Email ID:</label>
          <input type="email" class="form-control" id="emailId" [(ngModel)]="user.email_id" name="emailId">
        </div>
        <div class="form-group mb-3">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
        </div>
        <div class="text-center mb-3">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <hr class="mt-0 mb-4 text-center">
        <div class="text-center">
          <label>Click here if you are not registered: </label>
          <button (click)="register()" class="btn btn-info" type="submit" style="margin-left: 10px">Register</button>
        </div>
      </form>
    </div>
  </div>
  